body {
    background-image: url("https://photos.smugmug.com/photos/i-77HwJZt/1/c897226f/X4/i-77HwJZt-X4.jpg");
 }

 h1, h2 {
     color: white;
     text-align: center;
 }
 .form-bkg {
    margin: auto;
    color: white;
    width: 600px;
    
 }

 form {
    padding: 10px;

    background:rgb(0, 0, 0);
    background:rgba(0, 0, 0, 0.76);
    background:transparent\9;
 }

 input, label, p, textarea, select {
     margin-left: 30px;
     font-size: 1.2rem;
 }

 button {
     display: flex;
     width: 90%;
     margin: auto;
     background-color: blueviolet;
     color: aliceblue;
     font-size: 1.2rem;
     justify-content: center;
 }

 .box {
     width: 90%;
 }